*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.header-area{
    height:100vh;
    background:radial-gradient(rgba(16, 8, 17, 0.712),rgba(43, 11, 224, 0.89)),url(../img/laptop.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    padding:10px;
    color:white;
    text-align: center;
    position:relative;
    overflow: hidden;
}
.header-area .header-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.header-text h2{
    font-size:50px;
}
.header-text p{
    font-size: 20px;
    line-height:20px;
}
.header-text a.header-btn {
    text-decoration: none;
    font-size: 20px;
    color:white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    margin: 15px 10px;
    transition: .5s ease;
}
.header-text a.header-btn:hover{
    background-color:white;
    color:rgb(48, 36, 218);
    border: 1px solid rgb(48, 36, 218);
}
.content-area{
    padding: 50px;
    background:#fffafa;
    
}
.dis-flex{
    display: flex;
    flex-wrap: wrap;
}
.content-area h2{
    text-align: center;
    font-size: 3em;
}
.content-area img{
    width:100%;
    height:auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:0;
}
.dis-flex  .post-box{
    background-color: rgb(253, 253, 253);
    margin: 30px 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    flex: 40%;
}
.post-box h3{
    font-size:1.4em;
    color:rgb(68, 20, 158);
}
.post-box p{
    font-size:17px;
}
.post-box a:link{
    color:rgb(68, 20, 158);
    font-style: italic;
    font-size: 20px;
}