*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.header{
    height:100vh;
    background:radial-gradient(rgba(24, 27, 43, 0.555),rgba(24, 27, 43, 0.555)),url(img/laptop.jpg);
    padding:10px;
    color:white;
}