*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.header-area{
    height:100vh;
    background:radial-gradient(rgba(169, 37, 187, 0.589),rgba(70, 43, 226, 0.719)),url(../img/laptop.jpg);
    padding:10px;
    color:white;
    text-align: center;
    position:relative;
}
.header-area .header-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.header h2{
    font-size:25px;
}